footer {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #909090;
  a {
    color: #666;
  }
  .links {
    color: #ddd;
  }
  .socials {
    a {
      font-size: 20px;
      margin-right: 8px;
    }
  }
}