<ul class="nav nav-tabs team-menu mi-nav">
  <li class="nav-item">
    <%= link gettext("Team Topics"), to: team_path(@conn, :show, @team), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link gettext("Team People"), to: team_path(@conn, :people, @team), class: "nav-link" %>
  </li>
</ul>