<div class="container">
  <%= for item <- ~w(error success info)a do %>
    <%= if get_flash(@conn, item) do %>
    <div class="alert-<%= item %> alert text-center alert-dismissible fade show" role="alert">
      <%= get_flash(@conn, item) %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
  <% end %>
</div>
