<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Elixir China</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= static_path(@conn, "/favicon.ico") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render "_header.html", assigns %>
    <%= if Map.get(assigns, :asset) == "topics" do %>
      <%= render "_sub_header.html", assigns %>
    <% end %>
    <%= render "_flash.html", assigns %>
    <div id="main" class="main-container container">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <%= render "_footer.html", assigns %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
