language: elixir
elixir:
  - '1.6.4'
addons:
  postgresql: '9.4'
services:
  - postgresql
cache:
  directories:
    - _build
    - deps
env:
  - MIX_ENV=test
before_script:
  - mix ecto.create && mix ecto.migrate
script:
  - mix test
  - mix coveralls.travis
