<div class="index-locations card">
  <div class="card-header">热门城市</div>
  <div class="card-body location-list" style="text-align:center;">
    <%= for item <- @locations do %>
      <span class="name">
        <%= link item.name, to: location_path(@conn, :show, item) %>
      </span>
    <% end %>
  </div>
</div>