<div class="card markdown">
  <div class="card-body">
    <h1><%= gettext "Markdown Guide" %></h1>
    <div class="row">
      <div class="col-md-6">
        <pre><code><%= @markdown_ex %></code></pre>
      </div>
      <div class="col-md-6">
        <%= markdown(@markdown_ex)%>
      </div>
    </div>
  </div>
</div>