$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: #e5e5e5;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1480px;
  }
}

.card {
  margin-top: 10px;
  margin-bottom: 5px;
}

body, p, ol, ul, td, a, span {
  font-size: 14px;
  line-height: 18px;
}

