<div class="row">
  <div class="col-md-9">
    <%= render "_topics.html", assigns %>
    <%= render "_nodes.html", assigns %>
  </div>

  <div class="sidebar col-md-3">
    <%= render "_right.html", assigns %>
  </div>
</div>